<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%JAVA_HOME%\bin\java.exe" arguments="-jar D:\home\site\wwwroot\online-application.jar" stdoutLogEnabled="true" stdoutLogFile="D:\home\LogFiles\stdout.log"/>
  </system.webServer>
</configuration>